<!DOCTYPE html>
<html>
	<head>
		<title> Cya</title>
		<link rel="shortcut icon" href="http://moziru.com/images/magical-clipart-crystal-ball-2.jpg" type="image/x-icon"/>
	
	<style>
		body {background-color: powderblue;}
		h1 {font-size: 48px;}
		.header {padding-left: 10%; padding-right: 10%; font-family: arial; font-size: 25px; text-align: center;}
		button { background-color: blue; border: none; color: white; padding: 13px 27px; text-align: center; text-decoration: none; display: inline-block; font-size: 30px; border-radius: 6px;}

		button:hover {background-color: #4CAF50; color: white; }

		a {text-decoration: none; color: white;}
	</style>
	
	</head>
	<body>
		<center><h1>Welcome to our PennApps 2018 Hack!</h1></center>
    	<p>
    	<div class = "header">
    	Our app, titled CYA uses natural language processing
    	to predict the typical response to a controversial
    	social media post. This is not intended to encourage self
    	censorship. On the contrary, we want people to feel at
    	ease when putting their opinion out there. If users know
    	what to expect when making their post, they will be less
    	anxious about voicing their opinion on the internet. 
    	Thus, we aim to ease user's anxiety about posting on social media. 
    	</div>
    	<br>
    	<center><button type="formsend"><a href="http://127.0.0.1:5000/form">TRY IT OUT</a></button></center>

	</body>
</html>